body {
  padding-left: 30px;
  padding-top: 20px;
}

h1 {
  margin: 5px;
}

label {
  display: inline-block;
  width: 115px;
  font-size: 20px;
}

svg text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

svg text::selection {
  background: none;
}