body {
  padding-left: 30px;
  padding-top: 20px;
}

.menu_holder{
  width: 750px;
  margin: 0 auto;
}

h1 {
  margin: 2px;
}

h2 {
  margin: 2px;
}

#form {
  float: left;
  margin-right: 40px;
}

#leaderboard {
  flaot: left;
}

tr.score_row td {
  text-align: center;
  padding-right: 6px;
}

label {
  display: inline-block;
  width: 115px;
  font-size: 20px;
}

svg text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

svg text::selection {
  background: none;
}